.catalogue {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .row {
        margin-left: -64px;
        margin-right: -64px;
        >div {
            padding-left: 64px;
            padding-right: 64px;
        }
    }
    &_item {
        display: block;
        padding-right: 27px;
        margin-bottom: 50px;
        &_inner {
            background: linear-gradient(to bottom, transparent 0%, transparent 19%, $gray-200 19%, $gray-200 100%);
        }
        &:hover {
            .catalogue_icon {
                background-color: $third-color;
            }
        }
    }
    &_pic {
        width: 100%;
        padding-bottom: 120%;
        position: relative;
        transform: translateX(27px);
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_icon {
        position: absolute;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color;
        right: 0;
        bottom: 0;
        transform: translateY(30px);
        transition: $transition-common;
    }
    &_title {
        padding: 15px 50px 20px 27px;
        font-size: 18px;
        margin: 0;
        font-weight: 500;
        letter-spacing: 0.08em;
    }
    @media screen and (max-width: 991px) {
        .row {
            margin-left: -32px;
            margin-right: -32px;
            >div {
                padding-left: 32px;
                padding-right: 32px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .row {
            margin-left: 0;
            margin-right: 0;
            >div {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &_item {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}