.contact {
    background-color: #fff;
    width: 100%;
    .contactForm {
        width: calc(100% - 350px);
        padding: 50px 65px 45px 30px;
        &_item {
            border-color: $gray-400;
            label {
                color: $main-color;
                &::after {
                    background-color: $gray-300;
                }
            }
            input {
                color: $gray-700;
            }
        }
        .askItem {
            margin-bottom: 15px;
            label {
                width: 80px;
            }
            &_content {
                width: calc(100% - 96px);
            }
            &_item {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 25px;
                margin-bottom: 10px;
                span {
                    transform: translateY(-1px);
                }
                &.active {
                    .askItem_check {
                        border-color: $third-color;
                        background-color: $third-color;
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
            &_check {
                width: 17px;
                height: 17px;
                border: 1px solid $gray-400;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
                transition: $transition-common;
                img {
                    width: 95%;
                    opacity: 0;
                    transition: $transition-common;
                }
            }
        }
        .askContent {
            margin-bottom: 25px;
            width: 100%;
            label {
                width: 80px;
            }
            textarea {
                width: calc(100% - 96px);
                height: 110px;
                border: 1px solid $gray-400;
                padding: 5px 10px;
            }
        }
        label {
            color: $main-color;
            font-weight: 500;
            // margin-right: 15px;
            letter-spacing: 0.05em;
        }
        button {
            background-color: $main-color;
            span {
                color: #fff;
            }
            &:hover {
                background-color: $third-color;
            }
        }
        .highlight {
            color: rgb(219, 26, 26);
        }
    }
    &_send {
        width: calc(100% - 350px);
        padding: 40px;
        h2 {
            font-size: 30px;
            margin-bottom: 20px;
            color: $main-color;
        }
        p {
            font-size: 16px;
        }
    }
    &_inform {
        width: 350px;
        background-color: $main-color;
        padding: 60px 25px 25px 0;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        ul {
            width: 100%;
            li {
                margin-bottom: 50px;
                position: relative;
                a {
                    color: #fff !important;
                    display: block;
                    padding-left: 47px;
                    transition: $transition-common;
                    &:hover {
                        color: $second-color !important;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &_icon {
            width: 40px;
            height: 40px;
            background-color: $main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%) rotate(45deg);
            position: absolute;
            top: 50%;
            left: 0;
            border: 2px solid #fff;
            img {
                width: 50%;
                transform: rotate(-45deg);
            }
        }
        &_map {
            padding-left: 25px;
            width: 100%;
            &_content {
                width: 100%;
                padding-bottom: 60%;
                position: relative;
                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &-eng {
        .contactForm {
            &_item {
                label {
                    width: 110px;
                }
                input, textarea {
                    width: calc(100% - 110px);
                }
            }
            .askItem, .askContent {
                flex-wrap: wrap;
                label, textarea {
                    width: 100%;
                }
                &_content {
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        .contactForm {
            width: 100%;
            padding: 35px;
        }
        &_send {
            width: 100%;
            padding: 30px 30px 60px;
        }
        &_inform {
            width: 100%;
            padding-top: 40px;
            ul {
                margin-bottom: 50px;
                li {
                    margin-bottom: 45px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_inform {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    padding-left: 25px;
                    margin-bottom: 15px;
                    a {
                        padding-left: 0;
                    }
                }
            }
            &_icon {
                width: 22px;
                height: auto;
                transform: none;
                position: static;
                border: 0;
                margin-right: 8px;
                img {
                    width: 100%;
                    transform: none;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        .contactForm {
            padding: 35px 20px;
            .askItem {
                label, .askItem_content {
                    width: 100%;
                }
                label {
                    margin-bottom: 10px;
                }
            }
            .askContent {
                label, textarea {
                    width: 100%;
                }
                label {
                    margin-bottom: 10px;
                }
            }
        }
        &_send {
            padding: 30px 20px 60px;
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}